In [ ]:
## pandas is a powerful data manipulation library in python, widely used for data analysis and data cleaning.
## It provides two primary data structures Series and Data frame
## Series is a one-dimensional array like object Dataframe is two-dimensional, size mutable and potentially heterogeneous tabular data structure with labled axes (rows and columns)

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(type(series))
print("Series \n", series)

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
data = {'a':1,'b':2,'c':3}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [4]:
data = [10,20,30]
index=['a','b','c']
pd.Series(data, index)

a    10
b    20
c    30
dtype: int64

In [5]:
# Dataframe
data = {
    'name':['Krish','John','Jack'],
    'Age':[10,23,45],
    'City':['Galle','Talpe','Heenati']
}

df = pd.DataFrame(data)
print(df)

    name  Age     City
0  Krish   10    Galle
1   John   23    Talpe
2   Jack   45  Heenati

In [13]:
# create dataframe from list of dictionaries
data = [
    {'name':'Krish','age':20,'city':'Galle'},
    {'name':'Krish1','age':40,'city':'Dlle'},
    {'name':'Krish2','age':30,'city':'Ddsd'}
]

df = pd.DataFrame(data)
print(df)
print(df.loc[0]) # get row
print(df['name']) # get column


## Adding column
df['Salary']=[1000,23000,2000]
df

## remove column , this is not permanent
df.drop('Salary',axis=1)
df

## remove column , this is permanent
df.drop('Salary',axis=1,inplace=True)
df

     name  age   city
0   Krish   20  Galle
1  Krish1   40   Dlle
2  Krish2   30   Ddsd
name    Krish
age        20
city    Galle
Name: 0, dtype: object
0     Krish
1    Krish1
2    Krish2
Name: name, dtype: object

     name  age   city
0   Krish   20  Galle
1  Krish1   40   Dlle
2  Krish2   30   Ddsd