In [1]:
import sqlite3

In [3]:
# connect to sqlite
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [6]:
# create table
cursor.execute(
    '''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department Text
    )
    '''
)

# commit the changes
connection.commit()

In [7]:
cursor.execute(
    '''
        Select * from employees
    '''
)

In [9]:
# insert data
cursor.execute(
    '''
        Insert Into employees (name,age,department)
        values('Manoj',29,'Data Scientist')
    '''
)

cursor.execute(
    '''
        Insert Into employees (name,age,department)
        values('Nadee',29,'Doctor')
    '''
)

connection.commit()

In [ ]:
# Insert many data
employeeList = [
    ('Kamal',23,'Player'),
    ('Mohammed',34,'Star')
]

cursor.executemany(
    '''
        Insert into employees (name,age,department) values (?,?,?)
    ''', employeeList
)

connection.commit()

In [15]:
# query data
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(2, 'Nadee', 29, 'Doctor')
(3, 'Manoj', 34, 'Data Scientist')
(4, 'Nadee', 29, 'Doctor')

In [11]:
# update data
cursor.execute(
    '''
        UPDATE employees Set age =34
        where name="Manoj"
    '''
)

connection.commit()

In [14]:
# Delete data
cursor.execute(
    '''
        Delete from employees
        WHERE id=1
    '''
)

connection.commit()

In [16]:
connection.close()